.header {
    background-color: black;
    color: aliceblue;
    padding: 20px;
    font-size: 30px;
}

.component {
    padding: 30px;
}

.login-component {
    padding: 30px;
    width: 45%;
    position: block;
    margin-left: auto;
    margin-right: auto;
}

.form-style {
    border: 1px solid lightgray;
    width:50%;
    position: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

input {
    padding: 5px;
}

.form-group {
    padding: 10px;
    display: flex;
}

.left-col {
    width: 50%;
}

.right-col {
    width: 50%;
}

.btn {
    background-color: #154f57;
    border: 1px solid #154f57;
    color: wheat;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.success-message {
    width: 80%;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    padding: 10px;
}
.error-message {
    width: 80%;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    padding: 10px;
}
table {
    width: 100%;
}
td {
    padding: 20px;
}
.table-heading {
    width:40%;
    font-weight: bold;
}

.table-data {
    color : blue
}